body {
    padding-top: 15%;
    text-align: center;
    background: url(fon_finish.png);
    background-size: 100%; 
}

h1,h2 {
    color: white;
}

p {
    font-family: verdana;
    font-size: 20px;
}